<main>
  
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1 style="color: #ffc400;">About Pizzeria</h1>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-6 ">
                <img src="/assets/images/abt1.gif" style="width:100%;" />
            </div>
            <div class="col-md-6 ">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #ffc400;">I think of dieting, then I eat pizza.</h5>
                        
                        <p class="card-text">A multi-restaurant pizza purchasing system allows users to browse menus, and order from multiple local vendors through a single platform. Key features include real-time tracking, secure online payments, and loyalty programs to drive repeat business.</p>
                        <p class="card-text">
                            Craving a hot, cheesy pizza? Order from the best restaurants in your area and enjoy quick delivery right to your doorstep. Choose your favorite flavors, customize your toppings, and satisfy your cravings in just a few clicks.
                        </p>
                        <p class="card-text">
We partner with top-rated pizza restaurants to bring you a wide variety of options — from classic favorites to gourmet specialties.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
