<main>
  
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1 style="color: #ffc400;">Contact Us</h1>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-6 ">
                <img src="/assets/images/cnt1.gif" style="width:100%;" />
            </div>
            <div class="col-md-6 ">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #ffc400;">ADDRESS</h5>
                        
                        <p class="card-text">
                            3rd Floor, OM Business Plaza, Opposite Circuit House,<br/>
                            Halar Valsad:396001
                        </p>
                        
                    </div>
                </div>

                <div class="card mt-5" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #ffc400;">MOBILE NO</h5>
                        
                        <p class="card-text">
                            9054426983 | 7043401080
                        </p>
                        
                    </div>
                </div>
                <div class="card mt-5" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #ffc400;">EMAIL ID</h5>
                        
                        <p class="card-text">
                            sales&#64;pizzeria.com | hr&#64;pizzeria.com
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

