<main>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1 style="color: #ffc400;">Login</h1>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-6 ">
                <img src="/assets/images/log1.gif" style="width:100%;" />
            </div>
            <div class="col-md-6 ">
                <form #loginform="ngForm" (submit)="onsubmit(loginform)" novalidate>
                    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Enter Email ID</label>
                        <input type="email" class="form-control" name="txtemail" ngModel #txtemail="ngModel">
                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Enter Password</label>
                        <div class="input-group">
                            <input type="password" #pwdInput class="form-control" name="txtpwd" ngModel #txtpwd="ngModel">
                            <button class="btn btn-outline-secondary" type="button" (click)="pwdInput.type = pwdInput.type === 'password' ? 'text' : 'password'">
                                {{ pwdInput.type === 'password' ? '👁️' : '🙈' }}
                            </button>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn" style="background-color: #ffe57f;">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</main>